<% title "Sources" %>

<table>
  <tr>
    <th>Name</th>
    <th>Factor</th>
  </tr>
  <% for source in @sources %>
    <tr>
      <td><%=h source.name %></td>
      <td><%=h source.weight %></td>
    </tr>
  <% end %>
</table>

<p><a href="mailto:thestockfactor@gmail.com">suggest a source</a> </p>
