<li><a href="/public" class="footer-link">Home</a></li>
<li><a href="#" class="footer-link">Symbols</a></li>
<li><a href="#" class="footer-link">Sources</a></li>
<li><a href="#" onclick="alert('coming soon');" class="footer-link">Blog</a></li>
<li><%= link_to 'Contact',contact_url %></li>