<div class="email-header">From:</div>
 <%= @entry.source.name %> ( <%= @entry.source.address %> )
<div class="email-header">Subject:</div>
<%= @entry.subject %>
<div class="email-header">Body:</div>
 <%= raw  @entry.body %>
