<h1 style="text-align:center;">Symbols in Play</h1>
<table>
  <tr>
    <td></td>
    <td>Factor</td>
    <td>Number of mentions</td>
  </tr>
  <% @symbols.each do |symbol| %>

      <tr>
        <td style="padding-right: 10px;">
          <span class="home-symbol"><%= link_to symbol[0], :action=>"symbol", :id=>symbol[0] %></span></td>
        <td><%= symbol[1][:weight] %></td>
        <td><%= symbol[1][:count] %></td>
      </tr>
  <% end %>
</table>
