<p><div class="larger-text green">Email: <a class="medium-text" href="mailto:thestockfactor@gmail.com">thestockfactor [ the at symbol ] gmail.com </a></div></p>
<p><div class="larger-text green">Twitter: <a class="medium-text" href="http://twitter.com/thestockfactor">@thestockfactor</a></div></p>