body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
    width: 780px;
    margin: 0 auto;
}

#container {
  width: 712px;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  /*margin-top: 20px;          */
}

#title {

    color: white;
    font-size: 2.6em;
    font-weight: bold;
}

.title-link
{
    float:right;
    /*padding-right: 100px;*/
    padding-top: 20px;
}
.title-link > a
{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding-left: 16px;
}

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

.understated
{
    color: gray;
    font-size: 0.8em;
}

.small-entry
{
    padding-top: 5px;
}

.home-symbol
{
    font-size: 1.2em;

}

.mentions-list > tbody >tr > td
{
    padding-right: 10px;

}

.sub-title
{
    font-size: 1.2em;
    font-weight: bold;
}

.table-headers >td
{
    border-bottom: gray 1px solid;
}
.email-header
{
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 8px;
}

.front-list > td
{
    padding-right: 12px;
}

.data-column
{
    padding-left: 8px;
    text-align: center;
}

.buy,.cover
{
    color: #90ee90;
}

.short,.sell
{
    color: #ff0000;
}

.search-times
{
    float:right;
    padding-right: 16px;
    padding-top: 12px;
}

.search-times > span
{
    padding-left:6px;
}

.center-column
{
    width:320px;
}

.home-symbol-0
{
    font-size:2.0em;
}

.home-symbol-1
{
    font-size:1.8em;
}
.home-symbol-2
{
    font-size:1.6em;
}
.home-symbol-3
{
    font-size:1.4em;
}

.home-data-0
{
    font-size:1.6em;
}
.home-data-1
{
    font-size:1.5em;
}

.home-data-2
{
    font-size:1.4em;
}

.home-data-3
{
    font-size:1.3em;
}

.de-emph
{
    font-size:0.7em;
    color: #999999;
}
