<% form_for @bad_symbol do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol,:id=>"tb" %>

<script>
var txtBox=document.getElementById("tb" );
if (txtBox!=null ) txtBox.focus();
</script>
  </p>
  <p><%= f.submit %></p>
<% end %>
